# macOS files
*.DS_Store

# animation - participant data
/Animation/data

# animation - outputs
text.txt
text2.txt
document.docx

# earbuds - participants data
/Earbuds/data

# earbuds - spss
/Earbuds/anova_reference
