# macOS files
*.DS_Store


# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*


# animation - participant data
/Animation/data


# animation - outputs
text.txt
text2.txt
document.docx


# earbuds - participants data
/Earbuds/data


# earbuds - spss
/Earbuds/anova_reference
